<div style="display: inline-block;margin-bottom: -20px;">
<a class="btn-floating waves-effect waves-light title-back-btn" onclick="window.history.back();" onmouseover="" style="cursor: pointer;display: inline-block;">
    		<img src="/media/icons8-left-64.png" style="height: 45px;width: 45px; margin-bottom:5px;">
     	</a>
</div>

<hr>

<div class="card-layout" style="width: 800px;height: 230px;background-color: white;box-shadow: 2px 2px 2px 2px lightgrey; margin: 50px 50px; padding: 20px">
Download File : <a href="{% url 'dashboard:download' %}"><!-- <button class="btn-primary"> -->
	<img src="/media/download.jpeg" style="height: 45px;width: 45px ; border-radius: 20px 20px">
<!-- </button> --></a> 
<p>Select file downloaded and filled from above  link to upload multiple students at a time.</p>
<form action="{% url 'dashboard:bulk_upload' %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
{% csrf_token %}
<div class="form-group">
	    <div class="col-md-8" style="padding-left: 0px; width: 600px">
        <input type="file" name="csv_file" id="csv_file" accept=".csv" required="True" class="form-control" style="width: 50%;display: inline-block;">
        <input type="submit" name="submit" value="" class="btn btn-primary" style="background-image: url('/media/upload1.jpeg'); border:1px solid white; background-repeat:no-repeat;background-size:100% 100%; width: 45px; height: 45px; border-radius: 20px 20px;">
    	</div>                    
</div>
	<style type="text/css">
		/*input[type=submit] {
		    background: url('/media/upload.jpeg');
		    height: 45px;
		    width: 45px;
		}*/
	</style>
</form>
</div>