<!-- Page Heading Start-->
  <div class="breadcrumbs shadow-0">
    <div class="breadcrumbs-inner">
      <div class="row m-0">
        <div class="col-sm-4">
          <div class="page-header float-left">
            <div class="page-title">
              <h1>Profile</h1>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="page-header float-right">
            <div class="page-title">
              <ol class="breadcrumb text-right">
                <li><a href="/">Dashboard</a></li>
                <li><a href="{% url 'dashboard:profile' %}">Profile</a></li>
                <li class="active">Update Profile</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Heading End-->

  <!-- Page Content Goes Here-->
<div class="content mt-3">
<!-- <h4>{{user_info.user.password}}</h4> -->
<div class="" id="v-pills-security" role="tabpanel" aria-labelledby="v-pills-security-tab">
        <div class="card col-md-6 col-sm-12" style="padding:0 0.5rem;">
          <div class="card-body">
            <h5 class="card-title text-primary">Update Password</h5>
            <form>
            <div class="row">
              
              <!-- <div class="col-md-12 input-group input-group-sm form-group">
                <div class="input-group-prepend">
                  <i class="input-group-text fa fa-unlock-alt" aria-hidden="true"></i>
                </div>
                <input class="form-control" type="password" name="name" id="id_old_password" placeholder="Old Passowrd" required="true">
              </div>
 -->
              <div class="col-md-12 input-group input-group-sm form-group">
                <div class="input-group-prepend">
                  <i class="input-group-text fa fa-lock" aria-hidden="true"></i>
                </div>
                <input class="form-control" type="password" name="name" id="id_password" placeholder="New Passowrd" required="true">
              </div>

              <div class="col-md-12 input-group input-group-sm form-group">
                <div class="input-group-prepend">
                  <i class="input-group-text fa fa-lock" aria-hidden="true"></i>
                </div>
                <input class="form-control" type="password" name="institute_email" id="id_password2" placeholder="Repeat Password" required="true">
              </div>
              <div>
                <input type="button" name="submit" value="update" id="id_update_pass" class="form-control" style="margin-left: 15px;">
              </div>
            </div><!-- End Card Row -->
            </form>
            <script type="text/javascript">
              $('#id_update_pass').click(function(){
              
                if($('#id_password').val() == "" ||$('#id_password').val() == " " ||$('#id_password2').val() == "" ||$('#id_password2').val() == " "){

                  alert('you must have to fill all 2 fields .');
                  return;
                }
                if($('#id_password').val() != $('#id_password2').val()){
                  alert('Both new Password did not matched .');
                  return;
                }
                // var formData = [];
                // formData.push('{{user_info.user.id}}');
                // formData.push($('#id_password').val());
                // formData.push($('#id_password2').val());
                // var url = "{% url 'dashboard:update_password' %}"
                // $ajax({
                //   type: "post",
                //         url: url,
                //         data:{
                //           'formData' : formData,
                //         },
                //         success: function(response) {
                //           console.log(response);
                //           alert("successfully updated.");
                //           location.reload();
                //         },
                //         error: function(response) {
                //           console.log(response);
                //         }

                // });

              });


            </script>
            <!-- <a href="#" class="btn btn-primary">Update</a> -->
          </div>
        </div><!-- End Card -->        
      </div><!-- End Tab Security Tab -->
      </div>