<div class="container">
  
  <div class="card">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
            <tr>
              <th>Sr.No</th>
              <th>Name</th>
              <th>Contact</th>
              <th>Email</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr data-id="{{form.id}}" class='clickable-row' id="">
              <td></td>
              <td id="name"><a  style="color: blue" href=""></a></td>
              <td></td>
              <td></td>
            </tr>
        </tbody>
      </table>
      <script>
      </script>
    </div>
  </div>

    
  
</div>
